
<footer class="footer">
    
    <div class="container">
        <div class="FooterContent">
            <div class="row">
                <div class="col-xl-4 col-lg-6 my-5 text-center">
                    <h2>Location</h2>
                    <P class="my-3">2215 John Daniel Drive</P>
                    <P>Clark, MO 65243</P>
                </div>
    
                <div class="col-xl-4 col-lg-6 my-5 text-center ">
                    <h2>AROUND THE WEB</h2>
                    <div class="my-3 social-icons">
                        <i class="ms-5 icon  fa-brands fa-facebook"></i>
                        <i class="icon  fa-brands fa-twitter"></i>
                        <i class="icon  fa-brands fa-linkedin"></i>
                        <i class="icon  fa-brands fa-linkedin"></i>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 my-5 ">
                    <h2 class="my-3 text-center">ABOUT FREELANCER</h2>
    
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>

        </div>

    </div>
</footer>


<section class="CopyRight">
    <p class="text-center py-4 mb-0">Copyright © Your Website 2021</p>
</section> 