
<section>
    <div class="About d-flex justify-content-center align-items-center vh-100  flex-column   ">
        <div class="content container d-flex flex-column d-flex justify-content-center align-items-center">
            <H2 class="text-center">about component</H2>
            <div class="icon-with-lines d-flex  ">
                <span class="line"></span>
                <i class="icon fa-solid fa-star my-2"></i>
                <span class="line"></span>
              </div>
    
            <div class="row">
                <div class="col-6 ">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
    
                <div class="col-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>

        
        
    </div>
</section>