
<section class="content container d-flex flex-column d-flex justify-content-center align-items-center">
    <h1>conatct section</h1>
    <div class="icon-with-lines d-flex  ">
        <span class="line"></span>
        <i class="icon fa-solid fa-star my-2"></i>
        <span class="line"></span>
      </div>
</section>

<section>
    <div class="container vh-100 mt-5">
        <input   type="text" placeholder="userName" name="userName" class="form-control my-5 border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <input   type="number" placeholder="UserAge" name="userName" class="form-control my-5 border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <input   type="email" placeholder="UserEmail" name="userName" class="form-control my-5 border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <input   type="password" placeholder="UserPassword" name="userName" class="form-control my-5 border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">

        <button _ngcontent-ktd-c16="" class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </div>
   
</section> 
