h1{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 100px;

}
.form-control{
    margin-top: px     ;
}
.icon-with-lines {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .line {
    display: block;
    height: 5px; 
    background-color: black; 
    flex-grow: 1; 
    width: 120px;
  }
  
  .icon {
    font-size: 24px;
    color: black; 
  }