

<div #DivContainer class="div">
    <section class="mb-5 content container d-flex flex-column d-flex justify-content-center align-items-center">
        <h1 class="my-5 HEADER ">portfolio component</h1>
        <div class="icon-with-lines d-flex  ">
            <span class="line"></span>
            <i class="icon fa-solid fa-star my-2"></i>
            <span class="line"></span>
          </div>
    </section>
    
    
    <section class="Port">
        <div class="container">
            <div class="row">
                <div (mouseout)="Out(el)" (click)="sayhello(el)" class="col-xl-4 col-lg-6 mb-5">
                   
                    <div class="portfolio-inner position-relative rounded rounded-2 overflow-hidden ">
                        <img #el class="w-100 image" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" alt="">
     
                        <div
                            class=" portfolio-layer position-absolute d-flex flex-column justify-content-center align-items-center ">
                            <div class="portfolio-layer-icons d-flex gap-4">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div (mouseout)="Out(dd)" (click)="sayhello(dd)" class="col-xl-4 col-lg-6 mb-5">
                    <div class="portfolio-inner position-relative rounded rounded-2 overflow-hidden ">
                        <img #dd class="w-100" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" alt="">
    
                        <div
                            class=" portfolio-layer position-absolute d-flex flex-column justify-content-center align-items-center ">
                            <div class="portfolio-layer-icons d-flex gap-4">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div (mouseout)="Out(aa)" (click)="sayhello(aa)" class="col-xl-4 col-lg-6 mb-5">
                    
                    <div class="portfolio-inner position-relative rounded rounded-2 overflow-hidden ">
                        <img #aa class="w-100" src="https://routeegy.github.io/startFramework/assets/images/port3.png" alt="">
    
                        <div
                            class=" portfolio-layer position-absolute d-flex flex-column justify-content-center align-items-center ">
                            <div class="portfolio-layer-icons d-flex gap-4">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div (mouseout)="Out(ff)" (click)="sayhello(ff)" class="col-xl-4 col-lg-6 mb-5">
                    <div class="portfolio-inner position-relative rounded rounded-2 overflow-hidden ">
                        <img #ff class="w-100" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" alt="">
    
    
                        <div
                            class=" portfolio-layer position-absolute d-flex flex-column justify-content-center align-items-center ">
                            <div class="portfolio-layer-icons d-flex gap-4">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div (mouseout)="Out(vv)" (click)="sayhello(vv)" class="col-xl-4 col-lg-6 mb-5">
                    <div class="portfolio-inner position-relative rounded rounded-2 overflow-hidden ">
                        <img #vv class="w-100" src="https://routeegy.github.io/startFramework/assets/images/port2.png" alt="">
    
    
                        <div
                            class=" portfolio-layer position-absolute d-flex flex-column justify-content-center align-items-center ">
                            <div class="portfolio-layer-icons d-flex gap-4">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div (mouseout)="Out(bb)" (click)="sayhello(bb)" class="col-xl-4 col-lg-6 mb-5">
                    
                    <div class="portfolio-inner position-relative rounded rounded-2 overflow-hidden ">
                        <img #bb class="w-100" src="https://routeegy.github.io/startFramework/assets/images/port3.png" alt="">
    
                        <div
                            class=" portfolio-layer position-absolute d-flex flex-column justify-content-center align-items-center ">
                            <div class="portfolio-layer-icons d-flex gap-4">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


