<section>
    <div   class="Home d-flex justify-content-center align-items-center vh-100  flex-column">
        <img  class="w-25" src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" alt="">
        <H2 class=" my-3">Start Framework</H2>

        <div class="icon-with-lines d-flex  ">
            <span class="line"></span>
            <i class="icon fa-solid fa-star my-2"></i>
            <span class="line"></span>
          </div>


        <p>Graphic Artist - Web Designer - Illustrator</p>
        
    </div>
</section>